.botao-index {
  font-size: 1.25em;
  background-color: #0A355F;
  color: #FFF;
  padding: .5em;
  width: 40ch;
  margin: 2em auto;
  display: block;
  text-align: center;
  text-decoration: none;
  transition: .5s;
}
.botao-index:focus,
.botao-index:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 1em #FA9;
}
.botao-index2 {
  font-size: 1.25em;
  background-color: #FFF;
  color: black;
  padding: .5em;

  width: 40ch;
  margin: 2em auto;
  display: block;
  text-align: center;
  text-decoration: none;
  transition: .5s;
}
.botao-index2:focus,
.botao-index2:hover {
    background-color: #0A355F;
    color: white;
    box-shadow: 0 0 1em #FA9;
}

body {
    display: block;
    -webkit-perspective: 6px;
            perspective: 6px;
    -webkit-perspective-origin: 50% 160px;
            perspective-origin: 50% 160px;
}

main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}
html,body {
    overflow-x: hidden;
    height: 100%;
}
.titulo-principal {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
    height: 30%;
}

.palavras-home {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
}
.palavra-home {
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    font-size: 400%;
    color: rgba(255, 255, 255, .5);
    position: absolute;
    -webkit-animation: aparece 2s;
            animation: aparece 2s;
}
.artificial {
    top: 50%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
}
.machine {
    top: 70%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.25);
    opacity: .3;
}
.agile {
    top: 45%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
    opacity: .6;
}
.IoT {
    top: 55%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
    opacity: .6;
}
.blockchain {
    top: 30%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
    opacity: .6;
}
.collaboration {
    top: 15%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
}
.design {
    top: 30%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(.25);
    opacity: .8;
}
.design-thinking {
    top: 40%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(.25);
    opacity: .8;
}
.big-data {
    top: 70%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
    opacity: .6;
}
.digital {
    top: 75%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
    opacity: .3;
}
.clean-code {
    top: 40%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
    opacity: .6;
}
.paragrafo{
  padding-top: 1em;
  margin-top: 1.5em;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: top center;
}


.vertentes {
    background-color: #0A355F;
    background-size: 20px 20px;
    background-attachment: fixed;
    padding: 2em;
}
.vertentes h2 {
    text-transform: uppercase;
    margin-bottom: .5em;

}

.vertentes ul {
    display: -webkit-flex;
    display:         flex;
    padding-right: 2em;
    margin-right: 3%;
}
.vertentes li {
    -webkit-flex: auto;
            flex: auto;
    border: 4px solid #000;
    width: 10%;
    height: 8%;
}
.vertentes li:first-child {
    order: 2;
    transform: scale(1.2);
}
.vertentes li:nth-child(2) {
    order: 1;
}
.vertentes li:nth-child(3) {
    order: 3;
}
.vertentes img {
    width: 100%;
    display: block;
    height: 100%;
}










.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
    transition: box-shadow 1s, transform 1s;
    transition-delay: 1s, 0s;
}

.citacao-bio:nth-of-type(even) {
    float: left;
    margin-left: 0;
}

.citacao-bio:nth-of-type(odd) {
    float: right;
    margin-right: 0;
}

.citacao-bio:hover,
.citacao-bio:focus {
    box-shadow: 0 0 0 99999px rgba(0,0,0,.8);
    transition-delay: 0s, 1s;
}

.citacao-bio:nth-of-type(odd):hover,
.citacao-bio:nth-of-type(odd):focus {
    transform: scale(1.2) rotate(5deg);
}

.citacao-bio:nth-of-type(even):hover,
.citacao-bio:nth-of-type(even):focus {
    transform: scale(1.2) rotate(-5deg);
}

.citacao-bio::before {
    position: absolute;
    font-size: 10em;
    line-height: .8;
    color: #bbb;
}

.citacao-bio > p {
    position: relative;
}
