.botao-index {
  font-size: 1.25em;
  background-color: #0A355F;
  color: #FFF;
  padding: .5em;
  width: 40ch;
  margin: 2em auto;
  display: block;
  text-align: center;
  text-decoration: none;
  transition: .5s;
}
.botao-index:focus,
.botao-index:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 1em #FA9;
}
.botao-index2 {
  font-size: 1.25em;
  background-color: #FFF;
  color: black;
  padding: .5em;

  width: 40ch;
  margin: 2em auto;
  display: block;
  text-align: center;
  text-decoration: none;
  transition: .5s;
}
.botao-index2:focus,
.botao-index2:hover {
    background-color: #0A355F;
    color: white;
    box-shadow: 0 0 1em #FA9;
}

body {
    display: block;
    -webkit-perspective: 6px;
            perspective: 6px;
    -webkit-perspective-origin: 50% 160px;
            perspective-origin: 50% 160px;
}

main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}
html,body {
    overflow-x: hidden;
    height: 100%;
}
.titulo-principal {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
    height: 30%;
}

.palavras-home {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
}
.palavra-home {
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    font-size: 400%;
    color: rgba(255, 255, 255, .5);
    position: absolute;
    -webkit-animation: aparece 2s;
            animation: aparece 2s;
}
.artificial {
    top: 50%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
}
.machine {
    top: 70%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.25);
    opacity: .3;
}
.agile {
    top: 45%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
    opacity: .6;
}
.IoT {
    top: 55%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
    opacity: .6;
}
.blockchain {
    top: 30%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
    opacity: .6;
}
.collaboration {
    top: 15%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
}
.design {
    top: 30%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(.25);
    opacity: .8;
}
.design-thinking {
    top: 40%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(.25);
    opacity: .8;
}
.big-data {
    top: 70%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
    opacity: .6;
}
.digital {
    top: 75%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
    opacity: .3;
}
.clean-code {
    top: 40%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
    opacity: .6;
}
.paragrafo{
  padding-top: 1em;
  margin-top: 1.5em;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: top center;
}
