ul li {
  list-style-type: none;
}

.inscreva {
  text-align: center;
  background-color: #0A355F;
  color: white;
  margin-top: 0;
  padding: 2rem;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  text-shadow: 3px 3px #000;
  font-size: 35px;
}

.principal {
  width: 70ch;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em 0;
  display: flex;
}

label[for],
button {
  display: block;
}

input[type="text"],
input[type="email"],
textarea {
  font-family: inherit;
  font-size: 100%;
  padding: .25em .5em;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

button {
  color: black;
  font-size: 1.2em;
  margin-top: 1em;
  margin-left: 15%;
  width: 400px;
}

form {
  font-size: 14px;
}

h2 {
  font-size: 14px;
}

body {
  margin: 0;
}

.compassoTecnologia {
  font-family: 'Open Sans Condensed';
  color: white;
  text-shadow: 3px 3px #000;
}

footer {
    background-color: #1C1C1C;
    color: #FFF;
    padding: 2.5em;
    width: 95,5%;
}
footer h2 {
    font-size: 2em;
}

footer a{
  color: #6CA6CD;
  font-family: "Open Sans Condensed";
  font-size: 1.2em;
  margin-left: inherit;
  }

  footer a:focus,
  footer a:hover {
      color:  white;
      /box-shadow: 0 0 1em #FA9;/
  }

.botao {
  font-size: 1.25em;
  background-color: #0A355F;
  color: #FFF;
  padding: .5em;
  width: 40ch;
  margin: 2em auto;
  display: block;
  text-align: center;
  text-decoration: none;
  transition: .5s;
}
.botao:focus,
.botao:hover {
    background-color: black;
    color: white;
    box-shadow: 0 0 1em #FA9;
}

body{
  background-color: rgba(176, 252, 135, 0.1);
}
.borda-vermelha {
    border: 3px solid red;
    box-shadow: 0 0 3px red;
}
.borda-verde{
  border: 3px solid green;
  box-shadow: 0 0 3px green;
}

.disable {
    pointer-events: none;
    background-color: gray;
}

.formularioGugu {
  display: none;
  }

  #formulariodps {
    width: 50%;
    height:600px;
    margin-left: 25%;
    padding-left: 1.5em;
}
#formulariodps a{
    margin-left: 5%;
}
#formulariodps a:hover{
  color:grey;
}
