body {
    font-family: "Open Sans", sans-serif;
    background-color:#F2FFFC;
    font-size: 120%;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
}
.titulo-principal {
    text-align: center;
    background-color: #0A355F;
    color: #FFF;
    padding: 2rem;
    width: 100%;

}

h1,
h2,
.subtitulo {
    font-family: "Open Sans Condensed";
    color: white;
    text-shadow: 3px 3px #000;
    font-size: 2em;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-size: 5em;
    text-shadow: 3px 3px #000;
    padding-top: 0.7em;


}

.labs {
  font-family: "Shadows into light";
}
.titulo-principal {

}

.vertentes{
  text-align: center;
  background-color:#0A355F;

  width: 100%;
}
.subtitulo-texto {
    font-size: 1.5em;
    clear: both;
}

main a {
    color: #0A355F;
}

main a:hover,
main a:focus,
footer a:focus,
footer a:hover {
    color: white;
}

main p {
    text-align: justify;
    margin: 1em 0;
}


.rodape{
    background-color: #222222;
    padding: 1em;
    clear: both;
    bottom: 0;
    left: 0;
    width: 100%;
}

.titulo-rodape {
  font-size: 70px;
  text-align: left;
}

.link-rodape {
  color: #6CA6CD;
}

.container {
    width: 80ch;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}


main {
    padding-bottom: 4em;
    flex-grow: 1;
}
